.hidden {
    display: none;
    visibility: hidden;
    transition: all 8s ease;
}

.playlist {
    display: flex;
    flex-direction: column;
    height: 900px;
    min-height: 400px;
    min-width: 375px;
    max-width: 450px;
    background: var(--clr-greyLight-1);
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--clr-greyLight-2),
        -0.2rem -0.2rem 1.8rem var(--clr-white);
    overflow: hidden;
    margin-left: 4rem;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.playlistItemContainer {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    border-radius: 1rem;
    height: 100%;
    flex-direction: column;
}

.playlistItem {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: var(--clr-text-inner-shadow);
    border-radius: 1rem;
    text-align: left;
    letter-spacing: 0.04rem;
}

.playlist-title {
    margin-top: 1rem;
}

.playlistItem span {
    font-weight: var(--fw-bolder);
    text-transform: uppercase;
}

.playlistItem-detail {
    width: 100%;
    padding: 0.2rem;
}