.player {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
}

.playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

.forwardBackward {
    margin-right: 2rem;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--clr-greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: var(--fw-heavy);
    cursor: pointer;
    color: var(--clr-greyDark);
    background: var(--clr-greyLight-1);
    border: none;
}
.forwardBackward:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--clr-greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--clr-white);
    color: var(--clr-primary);
}
.forwardBackward:hover {
    color: var(--clr-primary);
}

.playPause {
    background: var(--primary);
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 32px;
    color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--clr-greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--clr-white);
    margin-top: 1.5rem;
}

.playPause:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--clr-greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--clr-white);
    color: var(--clr-primary);
}

.currentTime,
.duration {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 2px;
    width: 5rem;
    height: 2.5rem;
    border-radius: 9px;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--clr-greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--clr-white);
}

.currentTime {
    margin-left: 25px;
}

.progressBar {
    --bar-bg: #ffe3d4;
    --seek-before-width: 0;
    --seek-before-color: #ffc2a1;
    --knobby: var(--clr-primary);
    --selectedKnobby: var(--clr-primary);

    appearance: none;
    background-color: var(--clr-greyLight-1);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
    box-shadow: var(--clr-text-inner-shadow);
    z-index: 1;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    background-color: var(--clr-primary);
    box-shadow: var(--clr-text-shadow);
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}
